@font-face {
    font-family: "vt220";
    src: url("/ttf/Glass_TTY_VT220.ttf") format("truetype");
}

@font-face {
    font-family: "jackey";
    src: url("/ttf/jackeyfont.ttf") format("truetype");
}

html, body {
    background-size: cover;
    background-repeat: repeat-y;
    background-color: #000;
    font-family: monospace;
/*
    font-family: "vt220", "jackey", monospace;
*/
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 16px;
    min-height: 100%;
}

body > div {
    margin: 0;
    width: 100%;
    /*
    margin: 0px auto 0px auto;
    min-width: 400px;
    max-width: 1400px;
    */
}

body > #topbar {
    padding: 5px 0px 5px 0px;
    background-color: white;
    text-align: center;
    color: #000;
}

body > #topbar a {
    color: #000;
}

body > #title, body > #page {
    width: 90%;
    padding: 0px 12pt 0px 12pt;
    white-space: pre-wrap;
}

body > #page {
    min-height: 50%;
    word-wrap: normal;
}

a {
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    text-decoration: underline;
}

rolling[hidden] {
    display: none;
}

#topbar box {
    display: inline-block;
    border-style: solid;
    border-color: black;
    cursor: pointer;
    border-width: 2px;
    width: 16px;
    height: 16px;
}

#topbar box[green] {
    background: #00ff80;
}

#topbar box[amber] {
    /* background: #ff7e00; */
    background: #ff8a19;
}

#topbar box[white] {
    background: #eee;
}

#topbar box[pink] {
    background: #ffd1f3;
}

#signature {
    position: absolute;
    text-align: right;
    bottom: 16px;
    right: 16px;
    color: #333;
}

#signature a {
    color: #333;
    font-weight: normal;
}
