<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/css/post.css"></link>
        <link rel="stylesheet" id="theme" href="/css/theme-amber.css">
        <script type="text/javascript" src="/js/fun.js"></script>
    </head>
    <body>
        <div id="topbar">
        <b>
		      [ <a href="/">トップページ</a>
              | <a href="/raw/{{ title }}">RAW板を見る</a>
              | Twitter: <a target="_blank" href="//twitter.com/ousanko">@ousanko</a>
              | あなたのIP: {{ client_ip }}
              | <box green onclick="changeColor('green')">&nbsp;</box>
                <box amber onclick="changeColor('amber')">&nbsp;</box>
                <box white onclick="changeColor('white')">&nbsp;</box>
               ]
        </b>
        </div>
        <div id="title"><br>; Viewing {{title}}<br><br></div>
        <div id="page">{{ content.decode("utf-8") }}</div>
    </body>
</html>
