<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/css/post.css"></link>
        <script type="text/javascript" src="/js/fun.js"></script>
    </head>
    <body>
        <div id="topbar">
        <b>
		      [ <a href="/">トップページ</a> | <a href="/raw/{{ title }}">RAW板を見る</a> | Twitter: <a target="_blank" href="//twitter.com/ousanko">@ousanko</a> | あなたのIP: {{ client_ip }} ]
        </b>
        </div>
        <div id="title"><br>; Viewing {{title}}<br><br></div>
        <div id="page">{{ content.decode("utf-8") }}</div>
    </body>
</html>
