<!DOCTYPE html>
<html>
    {% include "parts/head.jinja" %}
    <body>
        {% include "parts/topbar.jinja" %}
        <div id="title"><br>; Viewing {{title}}<br><br></div>
        <div id="page">{{ content.decode("utf-8") }}</div>
        <div id="signature">Powered by <a href="//www.openbsd.org/">OpenBSD</a></div>
    </body>
</html>
