<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/post.css"></link>
    <link rel="stylesheet" id="theme" href="/css/theme-amber.css">
    <link rel="stylesheet" id="theme" href="/css/theme-green.css">
    <link rel="stylesheet" id="theme" href="/css/theme-white.css">
    <link rel="stylesheet" id="theme" href="/css/theme-pink.css">
    <script type="text/javascript" src="/js/fun.js"></script>
</head>
