<div id="topbar">
    <b>
        [ <a href="/">トップページ</a>
        | <a href="/raw/{{ title }}">RAW板を見る</a>
        | <a href="/blog">Ghostブログ</a>
        | <a target="_blank" href="https://privacytools.io">PrivacyTools.io</a>オススメ
        | あなたのIP: {{ client_ip }}
        |   <box green onclick="changeColor('green')">&nbsp;</box>
            <box amber onclick="changeColor('amber')">&nbsp;</box>
            <box white onclick="changeColor('white')">&nbsp;</box>
        ]
    </b>
</div>
