<div id="topbar">
    <b>
            [ <a href="/">トップ<t wide>ページ</t></a>
            | <a href="/raw/{{ title }}">RAW板<t wide>を表示</t></a>
            | <a href="/blog">ブログ</a>
            <t wide>| あなたのIP: {{ client_ip }}</t>
            |   <box green onclick="changeColor('green')">&nbsp;</box>
                <box amber onclick="changeColor('amber')">&nbsp;</box>
                <box white onclick="changeColor('white')">&nbsp;</box>
            ]
    </b>
</div>
