<div id="topbar">
    <b>
    		      [ <a href="/">トップページ</a>
                  | <a href="/raw/{{ title }}">RAW板を見る</a>
        	      | <a href="/blog">Ghostブログ</a>
        	      | <a href="https://privacytools.io">PrivacyTools.io</a>オススメ
                  | <box green onclick="changeColor('green')">&nbsp;</box>
                    <box amber onclick="changeColor('amber')">&nbsp;</box>
                    <box white onclick="changeColor('white')">&nbsp;</box>
                   ]
            </b>
</div>
